@font-face {
    font-family: 'OldNewspaperTypes';
    font-style: normal;
    font-weight: 400;
    src: url("OldNewspaperTypes.woff2") format('woff2');
  }
body{
    background: linear-gradient(180deg, rgba(229,207,168,1) 0%, rgba(232,214,176,1) 35%, rgba(231,210,167,1) 50%, rgba(234,216,178,1) 65%, rgba(227,205,156,1) 100%); 
    font-family: 'OldNewspaperTypes', sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 85%;
    margin: auto;
    border: 1px solid black;
}
.header{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0 3px 0;
}

.currDate{
    padding: 0 0 0 5px;
}

.cards{
    display: grid;
    grid-template-areas: 
        'myArea1 myArea6 myArea6  myArea2'
        'myArea1 myArea4 myArea4  myArea2'
        'myArea3 myArea4 myArea4  myArea5';
    padding: 20px;
    margin-top: 10px ;
    border-top: 1px solid black;
    
}
#city-input{
    /* background-color: #E7D2A7;   */
          height: 10px;
          width: 30%;
          top: 100px;
          right: 0;
          left: 0;
          outline: none;
          border:  1px solid black ;
          margin-left: 85px;
          padding: 20px;
          padding-right: 50px;
          justify-content: center;
}
.card1, .card2, .card3, .card4, .card5{
    margin: 20px 20px 0 0;
    height: auto;
    background-color: rgba(0,0,0,0.2);
    transition: 0.75s;
    z-index: 1;
}

.card1{
    grid-area: myArea1;
    border-right: 3px solid rgb(182, 157, 113);
    border-bottom: 3px solid rgb(182, 157, 113);
    padding: 0 4px 4px 0;

    
}
.card2{
    grid-area: myArea2;
    border-left: 3px solid rgb(182, 157, 113);
    border-bottom: 3px solid rgb(182, 157, 113);
    padding: 0 0 4px 4px;

}
.card3{
    grid-area: myArea3;
    border-right: 3px solid rgb(182, 157, 113);
    padding: 0 4px 0 0;

}
.card4{
    grid-area: myArea4;
    margin-top: 30%;
    border-top: 3px solid rgb(182, 157, 113);
    padding-top: 15px;

}
.card5{
    grid-area: myArea5;
    border-left: 3px solid rgb(182, 157, 113);
    padding: 0 0 0 4px;

}

.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover{
    transform: scale(1.1);
    z-index: 2;
}

.weather6{
    text-align: center;
    grid-area: myArea6; 
    margin-top: 15%;
    width:50%;
    margin:20% auto 0 auto;
    transition: 0.75s;
    z-index: 1;
}

.date{
 display: flex;
 justify-content: flex-start;
}

.news-form{
    margin: auto;
}
.button {
    display: none;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 0.875rem;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0,0,0,0.35);
    border-color: #1890ff;
    box-shadow: 0 2px 0 hsl(220, 10%, 90%);
    text-decoration: none;
    width: fit-content;
    padding: 6px 10px 6px 10px;
  }
  .art1Img{
      margin-left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 20%;
      /* filter: grayscale(100%); */
  }
  #weatherTemp{
      font-size: 36px;
      line-height: 50px;
  }
  #weatherImg{
      width:100px;
      height:100px;
      /* filter: grayscale(100%); */
  }
  .weatherInfo{
      display: flex;
      justify-content: center;
      align-items: center;
  }