body{
    font-family: Serif;
   /* background-color: #E7D2A7; */
   background-image: url(paper.jpg) ;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 1200px;
 
}
.header{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0 3px 0;
}

.currDate{
    padding: 0 0 0 5px;
}

.cards{
    display: grid;
    grid-template-areas: 
        'myArea1 myArea6 myArea6  myArea2'
        'myArea3 myArea4 myArea4  myArea5';

    padding: 20px;
    margin-top: 40px ;
}
#city-input{
    /* background-color: #E7D2A7;   */
          height: 10px;
          width: 30%;
          top: 100px;
          right: 0;
          left: 0;
          outline: none;
          border:  1px solid black ;
          margin-left: 85px;
          padding: 20px;
          padding-right: 50px;
          justify-content: center;
      
}
.card1, .card2, .card3, .card4, .card5{
    margin: 20px 20px 0 0;
    height: auto;
}

.card1{
    grid-area: myArea1; 
}
.card2{
    grid-area: myArea2; 
}
.card3{
    grid-area: myArea3; 
}
.card4{
    grid-area: myArea4; 
}
.card5{
    grid-area: myArea5; 
}
.weather6{
    text-align: center;
    grid-area: myArea6; 
}

.date{
 display: flex;
 justify-content: flex-start;
}

.news-form{
    margin: auto;
}
.button {
    display: none;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 0.875rem;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0,0,0,0.35);
    border-color: #1890ff;
    box-shadow: 0 2px 0 hsl(220, 10%, 90%);
    text-decoration: none;
    width: fit-content;
    padding: 6px 10px 6px 10px;
  }